#container{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#canvas{
    position: relative;
    border: 1px solid black;
    height: 500px;
    width: 500px;
    
}

#colorpicker{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1px;
    border: 1px solid black;
    align-items: center;
    height: 300px;
    width :400px;
    margin-left: 1rem;
}
#colorpickercontainer{
    display: flex;
    border: 1px solid black;
   flex-direction: column;
    justify-content: center;
    align-items: center;
}
#colorpreview{
    border: 1px solid black;
    width: 100%;
    min-height: 50px;
}

.cell{
    
    border: 1px solid black;
    max-width: 50px;
    max-height: 50px;
}
.slider{
    width: 150px;
}

input[type="number"]{
    width: 100px;
}
/*#red{
    border: 1px solid black;
    background-color: red;
    height: 50px;
    width: 50px; 
}
#orange{
    border: 1px solid black;
    background-color: orange;
    height: 50px;
    width: 50px; 
}
#yellow{
    border: 1px solid black;
    background-color: yellow;
    height: 50px;
    width: 50px; 
}
#green{
    border: 1px solid black;
    background-color: green;
    height: 50px;
    width: 50px; 
}
#blue{
    border: 1px solid black;
    background-color: blue;
    height: 50px;
    width: 50px; 
}
#indigo{
    border: 1px solid black;
    background-color: indigo;
    height: 50px;
    width: 50px; 
}
#violet{
    border: 1px solid black;
    background-color: violet;
    height: 50px;
    width: 50px; 
}
#white{
    border: 1px solid black;
    
    height: 50px;
    width: 50px; 
}*/